.gap-top{
    margin-top: 80px;
}

a{
    color:#707070;
    font-weight: 700;
}

.buy-now{
    border: none;
    padding:10px 25px;
    background-color: black;
    color: cornsilk;
    border-radius: 10px;;
}

.height{
    height:700px;;
}

.yellow{
    color: #FF9D00;

}

.cat{
    padding: 20px;
    text-align: center;
}